:root {
  --color-lightblue: #e5f9ff;
  --color-lightblue-2: #e1ecff;
  --color-lightblue-3: #eef3fa;
  --color-darkblue: #233862;
  --color-blue: #2880ff;
  --color-orange: #f9a746;
  --color-green: #6bbfba;
  --color-purple: #5b40ff;
  --color-dark-grey: #363c4a;
  --color-dark-grey-lighten: #363c4a20;
  --color-dark-grey-darken: #303642;
  --color-dark-grey-darken-2: #2b303b;
  --color-gray: #808690;
  --color-grey-2: #50586b;
  --color-error: #eb5757;
  --color-red: #f47458;
  // V2
  --text-dark: #363c4a;
  --text-light: #ffffff;
  --color-yellow: #f9a746;

  // Sizes
  --footer-desktop-height: 477px;
  --footer-simplified-desktop-height: 58px;
  --header-desktop-height: 80px;
}
